<div id="about" class="about wow wow zoomIn" data-wow-duration="2s" data-wow-delay="0s">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <img src="../../../../assets/images/calendar.jpg" alt="" class="img-fluid" />
            </div>
            <div class="col-lg-6">
                <h2>پذیرایی از موکلین:</h2>
                <p>
                    مشاوره تلفنی و سوالات حقوقی فقط با پرداخت حق مشاوره پذیرفته میشود.<br>
                    لطفا قبل از حضور در دفتر تماس و هماهنگی لازم را بعمل آورید. </p>
                <p></p>
                <h4>ساعت کار دفتر :</h4>
                <p>شنبه ؛ دوشنبه و چهارشنبه: از 6 بعد از ظهر تا 9 شب
                    پنجشنبه صبح با هماهنگی</p>
                    <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا فقط به مشتری یا کار فرما نشان دهند که قالب طراحی شده بعد از اینکه متن در آن قرار میگرد چگونه خواهد بود و فونت ها و اندازه ها چگونه در نظر گرفته شده است</p>
            </div>
        </div>
    </div>
</div>