<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 class=" animated slideInDown">دکتر اکبر جافری</h1>
        <h2 class=" animated slideInDown">وکیل پایه یک دادگستری</h2>
        <h3 class=" animated slideInDown">وکیل و مشاور حقوقی در زمینه دعاوی مدنی، کیفری، خانوادگی و ثبتی</h3>
        <p class=" animated fadeInRight">
          دکتر اکبر جافری با بیش از 14 سال سابقه وکالت، آمادگی ارائه کلیه خدمات حقوقی و مشاوره تخصصی در اموراتی از قبیل دعاوی
          مدنی، کیفری، خانواده و ثبتی به مراجعه کنندگان را دارد. وکیلی متخصص و مجرب دارای پرونده های موفق و مشابه قابل
          ارائه در اکثر موضوعات حقوقی، ارائه دهنده مشاوره حقوقی تخصصی تلفنی، حضوری و آنلاین
        </p>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a routerLink="order"
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center animated fadeInRight">
              وقت مشاوره
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="../../../../assets/images/hero.png" class="img-fluid animated slideInLeft" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->