<main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services" >
      <div class="container">

        <div class="row gy-4 animated fadeInUp" >

          <div class="col-xl-3 col-md-6 d-flex wow fadeInUp" data-wow-delay="0.8s">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-file-earmark-text"></i></div>
              <h4>تنظیم لایحه </h4>
              <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex wow fadeInUp" data-wow-delay="0.6s" >
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-pen icon"></i></div>
              <h4>تنظیم دادخواست </h4>
              <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex wow fadeInUp" data-wow-delay="0.7s">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-envelope-paper icon"></i></div>
              <h4>تنظیم شکواییه</h4>
              <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex wow fadeInUp" data-wow-delay="0.8s">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-card-checklist icon"></i></div>
              <h4>تنظیم اظهارنامه</h4>
              <p>از آنجا که لورم ایپسوم، شباهت زیادی به متن های واقعی دارد، طراحان معمولا از لورم ایپسوم استفاده میکنند تا فقط به مشتری یا کار فرما نشان دهند</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Featured Services Section -->
